<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sendhand.xiyousecondhand">

    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_picture"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 通过AndroidManifest配置AppKey和AppSecret，如果你选择通过代码配置，则不需要配置以下meta-data -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22d90f4524e60" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="b1f70cb9049e8a9ffa7bd995fb27a126" />

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.RegisterActivity" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".view.ModifyPwdActivity" />
        <activity android:name=".view.SmsSendActivity" />

        <!-- 内容提供器 拍照时将封装过的uri共享给外部 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.secondhand.xiyousecondhand.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.PersonInfoActivity" />
        <activity android:name=".view.ModifyInfoActivity"></activity>
    </application>

</manifest>